<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400, 700&subset=latin,latin-ext" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <title>Title</title>

</head>
<body>
<form id="myform" action="/" method="post">
    <input name="name" type="text" placeholder="név">
    <input name="email" type="text" placeholder="email">
    <a href="/" id="submit">Submit</a>
    <h1>{{name}}</h1>
</form>
<script src="static/java.js"></script>
</body>
</html>